  {{> header}}

<section class="store">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        <div class="store__header">
          <h1>Bài viết của bạn</h1>
          <button class="">Viết bài</button>
        </div>
      </div>
    </div>
    <div class="row">
     <div class="col col-lg-6">
          <h5>Bài viết đã đăng</h5>
     </div>
    </div>
    <div class="row mt-4">
      <div class="col col-lg-12">
        <div class="store-list-published">

          {{#each posts}}
            <div class="store-list-published__item">
              <h3 class="title">{{this.title}}</h3>
              <p class="description">{{{sliceString this.content}}}...</p>
              <div class="controler">
                <span class="timeago">Đã đăng 20 phút trước</span>
                <a class="edit" href="/posts/{{this._id}}/edit">Chỉnh sửa</a>
                 <a href="/posts/{{this._id}}/delete" id="delete" data-toggle="modal" data-id= {{this._id}} data-target="#confirmModalDelete">Xóa bài</a>
              </div>
            </div>
            <hr />
          {{/each}}

        </div>
      </div>
    </div>
  </div>
   <form id="form-delete-post" method="POST"></form>
  <div
        class="modal fade"
        id="confirmModalDelete"
        tabindex="-1"
        role="dialog"
        aria-labelledby="confirmModalDeleteLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalDeleteLabel">Xóa bài viết?</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Bạn có chắc chắn muốn xóa bài viết
            </div>
            <div class="modal-footer">
              <button id="btn-delete" type="button" class="btn btn-danger">Xóa
                bài viết</button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >Hủy</button>
            </div>
          </div>
        </div>
      </div>
</section>